<form (ngSubmit)="Submit()" #f="ngForm">
    <div class="row">
        <div class="col-10">
            <h3><i class="fab fa-bandcamp"></i>{{ title | uppercase }} </h3>
        </div>
        <div class="col-2"><button *ngIf="!isView"  type="button" class="btn btn-primary float-right rounded" (click)="register('')" title="Agregar registros"><i class="fa fa-plus-circle" area-hidden="true"></i></button></div>
        <br>
    </div>
    <div class="search-form mt-1">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="btn-icon-prepend">
                    <button class="btn">
                        <i class="feather icon-search" (click)="search()"></i>
                    </button>
                </div>
            </div>
            <h3 class="text-warning">FILTROS A BUSCAR</h3>
            <!-- <input type="text" class="form-control" id="searchText" placeholder="Buscar aquí..." (keyup)='keyupSearch($event)' [(ngModel)]="searchText" autocomplete="off" name="searchText"> -->
        </div>
        <form [formGroup]="frm" (ngSubmit)="Submit()" #f="ngForm">
            <div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12 mt-3">
                <div class="form-group col-lg-4 col-md-4 col-xl-4 col-sm-12">
                    <label for="code">Código</label>
                    <input type="text" class="form-control" id="code" formControlName="code" name="code" autocomplete="off" required placeholder="Digite el código del producto">
                </div>
                <div class="form-group col-lg-4 col-md-4 col-xl-4 col-sm-12">
                    <label for="brandId">Marca</label>
                    <ng-select [items]="brands"
                    bindLabel="description"
                    bindValue="id"
                    placeholder="Marca a Buscar..."
                    formControlName="brandId">
                    </ng-select>
                </div>    
                <div class="form-group col-lg-4 col-md-4 col-xl-4 col-sm-12">
                    <label for="typeProductId">Tipo de Producto</label>
                    <ng-select [items]="typeProducts"
                    bindLabel="description"
                    bindValue="id"
                    placeholder="Tipo de Producto a Buscar..."
                    formControlName="typeProductId"
                    (change)="selectedTypeProduct($event.id)">
                    </ng-select>
                </div>
            </div>    
            <div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12 mt-3">
                <div class="form-group col-lg-9 col-md-9 col-xl-9 col-sm-12">
                    <label for="application">Aplicación</label>
                    <input type="text" class="form-control" id="application" formControlName="application" name="application" autocomplete="off" required placeholder="Digite la aplicación del producto">
                </div>  
                <button type="submit" class="btn btn-warning col-lg-1 col-md-1 col-xl-1 col-sm-12" style="color:black; margin-right: 5px"><i class="feather icon-search"></i> Buscar ...</button>
                <button type="button" class="btn btn-success col-lg-1 col-md-1 col-xl-1 col-sm-12" style="color:white" (click)="limpiarBusqueda()"><i class="feather refresh-ccw"></i> Limpiar</button>
            </div>                       
        </form>
    </div>
    <br>
    <table class="table" *ngIf="regs.length > 0">
        <thead>
            <tr>
                <th width="10%">Acciones</th>
                <th  width="20%"> Código</th>
                <th  width="30%"> Marca</th>
                <th  width="30%"> Tipo Producto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reg of regs; let idx = index">
                <td>
                    <button *ngIf="isView" class="btn btn-warning rounded"  style="margin-right:5px" [routerLink]="['/masters/products', 'view', reg.id]" title="Ver Registro"><i class="fas fa-eye"></i></button>
                    <button *ngIf="!isView"  class="btn btn-success rounded"  style="margin-right:5px" [routerLink]="['/masters/products', 'admin', reg.id]" title="Actualizar Registro"><i class="fas fa-pencil-alt"></i></button>
                    <button *ngIf="!isView"  class="btn btn-danger  rounded" (click)=delete(reg.id,idx) title="Eliminar Registro"><i class="fas fa-trash"></i></button>
                </td>
                <td>{{reg.code}}</td>  
                <td>{{reg.brandNavigation.description}}</td>
                <td>{{reg.typeProductNavigation.description}}</td>
            </tr>
        </tbody>
    </table>
    <div class="row" *ngIf="regs.length>0" style="margin-top: 5px">
        <div class="col-2">

            <button class="btn btn-success float-left" (click)="back()" *ngIf="currentPage > 1">Anterior</button>
        </div>
        <div class="col-8">

        </div>
        <div class="col-2">

            <button class="btn btn-success float-right" (click)="next()" *ngIf="currentPage < totalPage">Siguiente</button>
        </div>
    </div>
</form>
