.card-product {
  img {
    height: auto;
    max-width: 100%;
    object-fit: contain;
    max-height: 100%;
    padding: 20px;
    margin-top: 10px;
    //flex: 0 0 auto;
  }
  .card-img-top {
    width: 100%;
    height: 200px;
  }
  .code {
    font-size: 1.5em;
    font-weight: bold;
    color: #e7353a;
    font-style: italic;
    margin-bottom: 5px;
  }
  .subtitle {
    color: #35398e;
  }
  .dato {
    color: black;
    margin-left: 5px;
  }
  .price {
    font-size: 40 !important;
    text-align: right;
    color: green;
    position: absolute;
    bottom: 0;

    margin-bottom: 50px;
  }
  button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
  }
  //max-height: 100%;
  //padding: 5px;
  //margin: px;
  border-radius: 10px;
  flex: 0 0 auto;
  display: flex;
}
.botones_position {
  display: flex;
  margin-top: 10px;
}
.btn-next {
  float: right;
}
.btn-back {
  float: left;
}

.spinner-wrapper {
  width: 100%;
  height: auto;
  z-index: 9999;
  background: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-button {
  background-color: #35398e;
  color: white;
}

.secundary-button {
  background-color: #e7353a;
}
