.card-product {
    img {
        max-width: 100%;
        height: auto;
        width: auto;
    }
    button {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 10px;
    }
    max-height: 100%;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.price {
    font-size: 40 !important;
    text-align: right;
    color: green;

}