<form [formGroup]="frm" (ngSubmit)="Submit()" #f="ngForm">
    <div class="row">
        <div class="col-10">
            <h3><i class="fas fa-boxes"></i> {{ title | uppercase}} <b><small *ngIf="id===''" style="color: green;">CREANDO</small><small *ngIf="id!==''" style="color: blue;">EDITANDO</small></b></h3>
        </div>
    </div>
    <div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12 mt-3">
        <div class="form-group col-lg-3 col-md-3 col-xl-3 col-sm-12">
            <label for="code">Código</label>
            <input type="text" class="form-control" id="code" formControlName="code" name="code" autocomplete="off" required>
            <span *ngIf="(f.submitted || frm.controls['code'].dirty) && frm.controls['code'].errors" class="text-danger">* Obligatorio</span>
        </div>
        <div class="form-group col-lg-3 col-md-3 col-xl-3 col-sm-12">
            <label for="reference">Referencia</label>
            <input type="text" class="form-control" id="reference" formControlName="reference" name="reference" autocomplete="off" required>
            <span *ngIf="(f.submitted || frm.controls['reference'].dirty) && frm.controls['reference'].errors" class="text-danger">* Obligatorio</span>
        </div>
        <div class="form-group col-lg-3 col-md-3 col-xl-3 col-sm-12">
            <label for="referenceProvider">Referencia Proveedor</label>
            <input type="text" class="form-control" id="referenceProvider" formControlName="referenceProvider" name="referenceProvider" autocomplete="off" required>
            <span *ngIf="(f.submitted || frm.controls['referenceProvider'].dirty) && frm.controls['referenceProvider'].errors" class="text-danger">* Obligatorio</span>
        </div>
    </div>
    <div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12 mt-3">
        <div class="form-group col-lg-6 col-md-6 col-xl-6 col-sm-12">
            <label for="description">Descripción</label>
            <input type="text" class="form-control" id="description" formControlName="description" name="description" autocomplete="off" required>
            <span *ngIf="(f.submitted || frm.controls['description'].dirty) && frm.controls['description'].errors" class="text-danger">* Obligatorio</span>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-xl-6 col-sm-12">
            <label for="brandId">Marca</label>
            <ng-select [items]="brands"
            bindLabel="description"
            bindValue="id"
            placeholder="Marca a Buscar..."
            formControlName="brandId">
            </ng-select>

            <span *ngIf="(f.submitted || frm.controls['brandId'].dirty) && frm.controls['brandId'].errors" class="text-danger">* Obligatorio</span>
        </div>    
    </div>
    <div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12 mt-3">
        <div class="form-group col-lg-6 col-md-6 col-xl-6 col-sm-12">
            <label for="typeProductId">Tipo de Producto</label>
            <ng-select [items]="typeProducts"
            bindLabel="description"
            bindValue="id"
            placeholder="Tipo de Producto a Buscar..."
            formControlName="typeProductId"
            (change)="selectedTypeProduct($event.id)">
            </ng-select>
            <span *ngIf="(f.submitted || frm.controls['typeProductId'].dirty) && frm.controls['typeProductId'].errors" class="text-danger">* Obligatorio</span>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-xl-6 col-sm-12">
            <label for="productEquivalenceId">Producto Equivalente</label>
            <ng-select 
                formControlName="productEquivalenceId"
                placeholder="Producto Equivalente a Buscar"
            >
                <ng-option *ngFor="let prod of productsEquivalence" [value]="prod.id">{{prod.code}} - {{prod.reference}} - {{prod.referenceProvider}} - {{prod.description}}</ng-option>
            </ng-select>


            <span *ngIf="(f.submitted || frm.controls['productEquivalenceId'].dirty) && frm.controls['productEquivalenceId'].errors" class="text-danger">* Obligatorio</span>
        </div>    
    </div>
    <div *ngIf="ProductAttribute.length>0">
        <br>
        <hr>
        <div class="row"  >
            <h4 class="col-lg-9 col-md-9 col-xl-9 col-sm-9" style="display: flex; align-items:center">Atributos</h4>
        </div>
        <hr>
        <ng-container  formArrayName="productAttributes">
            <ng-container *ngFor="let det of ProductAttribute.controls; let idx = index">
                <div [formGroup]="det" >
                    <div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12" style="display: flex; align-items:center">
                        <div class="form-group col-lg-9 col-md-9 col-xl-9 col-sm-9">
                            
                            <label >{{det.value.descriptionTypeProduct}}</label>
                            <input type="text" class="form-control " id="value" formControlName="value" name="value" autocomplete="off" required>
                        </div>
                    </div>   
                </div>
            </ng-container>
        </ng-container> 
    </div>

    <br>
    <div class="row"  >
        <h4 class="col-lg-9 col-md-9 col-xl-9 col-sm-9" style="display: flex; align-items:center">Imagénes / Documentos</h4>
    </div>
    <ng-container  formArrayName="images">
        <ng-container *ngFor="let img of Images.controls; let idx = index">
            <hr>
            <div [formGroup]="img" >
                <div class="row col-md-12 col-sm-12 col-xl-12 col-lg-12" style="display: flex; align-items:center">
                    <div class="form-group row">
                        <label for="data">Selecciona una imagen o documento PDF</label>
                        <input type="file" class="form-control imgdoc col-lg-7 col-md-7 col-xl-7 col-sm-7" style="width:600px" id="data" formControlName="data" name="data" (change)="handleFileInput($event, img)" title="Selecciona una imagen o documento">
                        <button type="button" class="btn btn-danger col-lg-1 col-md-1 col-xl-1 col-sm-1" style="width:40px; height:40px; margin-left:2px"  (click)="deleteDetail(idx)"><i class="fa fa-trash" aria-hidden="true "></i></button>
                    </div>
                    <div class="row mt-3">
                        <img *ngIf="img.value.type != 'pdf'" [src]="img.value.doc" style="max-width:400px">
                        <iframe *ngIf="img.value.type == 'pdf'" [src]="transform(img.value.doc)" style="width:100%; height:40%"></iframe>
                    </div>
                </div>   
            </div>
        </ng-container>
    </ng-container> 
    <div class="row" *ngFor="let img of listImagenes">
        <b>Nombre del Archivo: </b><label>{{img.split('/')[img.split('/').length-1]}}</label>
        <img class="imagen" src='{{urlImages+img}}' alt="" *ngIf="img.indexOf('pdf') == -1">
        <iframe *ngIf="img.indexOf('pdf') !== -1" [src]="transform(urlImages+img)" style="width:400px!important; height:200px!important"></iframe>
    </div>
    <button type="button" class="btn btn-success col-lg-1 col-md-1 col-xl-1 col-sm-1 mt-5" style="width:40px; height:40px" (click)="addImage()"><i class="fas fa-plus-circle"></i></button>


    <div class="row botones">
        <button type="submit " class="btn btn-success submit col"><i class="fas fa-save "></i> Guardar</button>
        <button type="button " class="btn btn-danger cancel col" [routerLink]="['/masters/products']"><i class="fa fa-ban " aria-hidden="true "></i> Regresar</button>
    </div>
</form>