<form [formGroup]="frm" #f="ngForm">
  <div class="row">
    <div class="col-10">
      <h3>
        <i class="fas fa-boxes"></i> {{ title | uppercase }}
        <b>
          <small *ngIf="id === ''" style="color: green">{{ subtitle }}</small>
          <small *ngIf="id !== ''" style="color: blue">{{ subtitle }}</small>
        </b>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <div class="div-miniatura">
        <div
          class="thumbnail"
          *ngFor="let img of listImagenes; let idx = index"
        >
          <img
            src="{{ urlImages + img }}"
            class="img-thumbnail file-div-miniatura"
            alt=""
            *ngIf="img.indexOf('pdf') == -1"
            (click)="seleccionarImagen(img)"
          />
          <img
            src="https://icons.veryicon.com/png/o/file-type/file-type-1/pdf-icon.png"
            class="img-thumbnail file-div-miniatura"
            alt=""
            *ngIf="img.indexOf('pdf') !== -1"
            (click)="seleccionarImagen(img)"
          />

          <!-- <iframe *ngIf="img.indexOf('pdf') !== -1" [src]="transform(urlImages+img)" (click)="seleccionarImagen(img)"></iframe> -->
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="div-image">
        <img
          src="{{ urlImages + imagenSeleccionada }}"
          alt=""
          *ngIf="imagenSeleccionada.indexOf('pdf') == -1"
          class="file-div img"
        />
        <iframe
          *ngIf="imagenSeleccionada.indexOf('pdf') !== -1"
          [src]="transform(urlImages + imagenSeleccionada)"
          class="file-div-pdf"
        ></iframe>
      </div>
    </div>
    <div class="col-6">
      <div class="informacion">
        <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
          <div class="row">
            <label class="code">{{ reg.code }}</label>
            <hr class="divider" />
          </div>
          <div class="row">
                          <h4 class="title col-lg-9 col-md-9 col-xl-9 col-sm-9">
                Información
              </h4>
            <table class="table-informacion">
              <tbody>
                <tr>
                  <td class="subtitle">Marca</td>
                  <td class="dato">{{ reg.brandNavigation.description }}</td>
                </tr>
                <tr>
                  <td class="subtitle">Tipo de Producto</td>
                  <td class="dato">
                    {{ reg.typeProductNavigation.description }}
                  </td>
                </tr>
              </tbody>
            </table>
            <hr class="divider" />
          </div>

          <div class="row" *ngIf="isShowPrice">
                          <h4 class="title col-lg-9 col-md-9 col-xl-9 col-sm-9">
                Lista de Precios
              </h4>
            <table class="table-informacion">
              <tbody>
                <tr>
                  <td class="subtitle">Precio No. 1</td>
                  <td class="dato">{{ reg.price1 | currency }}</td>
                </tr>
                <tr>
                  <td class="subtitle">Precio No. 2</td>
                  <td class="dato">
                    {{ reg.price2 | currency }}
                  </td>
                </tr>
                <tr>
                  <td class="subtitle">Precio No. 3</td>
                  <td class="dato">
                    {{ reg.price3 | currency }}
                  </td>
                </tr>
              </tbody>
            </table>
            <hr class="divider" />
          </div>
          <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
            <div class="row">
              <h4 class="title col-lg-9 col-md-9 col-xl-9 col-sm-9">
                Aplicaciones
              </h4>

              <table class="table-informacion">
                <tbody>
                  <tr *ngFor="let det of ProductApplications; let idx = index">
                    <td class="appSubtitle">{{ det.applicationNavigation.assemblerDescription }}</td>
                    <td class="appDato">{{ det.applicationNavigation.description}}</td>
                    <td class="appValue">{{ det.value }}</td>
                  </tr>
                </tbody>
              </table>
              <hr class="divider" />
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
          <div *ngIf="ProductAttribute.length > 0">
            <div class="row">
              <h4 class="title col-lg-9 col-md-9 col-xl-9 col-sm-9">
                Atributos
              </h4>
                            <table class="table-informacion">
                <tbody>
                  <tr *ngFor="let det of ProductAttributes; let idx = index">
                    <td class="appSubtitle">{{ det.typeProductAttributeNavigation.name }}</td>
                    <td class="appDato">{{ det.value}}</td>
                  </tr>
                </tbody>
              </table>
              <hr class="divider" />
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="row"></div>
    </div>
  </div>
  <div class="row"></div>

  <div class="row botones">
    <button
      type="button "
      class="btn btn-success print col"
      (click)="createPdf()"
    >
      <i class="fa fa-print" aria-hidden="true "></i> Imprimir
    </button>

    <button type="button " class="btn btn-danger cancel col" (click)="back()">
      <i class="fa fa-ban" aria-hidden="true "></i> Regresar
    </button>
  </div>
</form>
