.imagen {
    width: 20%;
    height: auto;
}

.btnEliminarAtributo {
    width: 50px;
    height: 50px;
    
}

.div-principal {
    background-color: lightgray;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    height: 500px;
    width: 550px;
}
.div-image {
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    width: 100%;
    height: 50%;
    max-width: 100%;
    max-height: 50%;
    align-items: center;


}


        .file-div {
            align-items: center;
            width: 50%;
    
        }
    
        .file-div-pdf {
            object-fit: scale-down;
            width: 100%;
            height: 100%;
            border: 1px solid black;
    
        }
.div-miniatura {
    margin-top: 40px;
}


    
.file-div-miniatura{
    background-color: transparent;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    margin: 2px;

}